body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.user-settings {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-icon {
    width: 100%;
    display: block; 
}